.about
	display: flex

	&-cont
		margin-top: 65px

	.title
		margin-bottom: 40px

	&-text
		font-size: rem(16)
		line-height: 181%
		letter-spacing: 0.02em
		max-width: 500px

	&-info
		width: 600px
		max-width: 100%
		margin-right: 70px
	
	&-img
		display: flex
		align-items: center
		margin-top: 45px
		justify-content: space-between


.definition__item
	display: flex
	align-items: center

	&:not(:last-child)
		margin-bottom: 50px

	&-ico
		flex: none
		margin-right: 30px
		width: 38px