:root
	--default-font: "Montserat", Arial, sans-serif

	--base-width: 1280px

	--body-bg-color: #fff
	--body-text-color: #000

	--base-font-size: 16px

	--main-color: #006771

	--second-color: #FFEEBD
	--thrid-color: #FE4141
	--background-color: #F8F9FA
	
	--border-color: rgba(0, 0, 0, 0.1)

	--default-shadow: 0px 8px 34px rgba(162, 210, 255, 0.08)

	--inline-padding: 40px

	--input-hor-spacing: 16px
	--input-vert-spacing: 24px