.footer
	background: #005D66
	padding: 40px 0
	color: #fff

	.wrapper
		display: flex
		justify-content: space-between
		align-items: center

	&-dev
		display: flex


@media (max-width: 660px)

	.footer
		padding: 20px 0

		&-copy
			font-size: rem(13)
			margin-right: 10px