header.head
	.wrapper
		.head-logo
			a(href="")
				img(src="img/logo.svg")
		nav.head-menu
			ul.head-menu__list
				li.head-menu__item
					a(href="").head-menu__link О складе
				li.head-menu__item
					a(href="").head-menu__link Услуги
				li.head-menu__item
					a(href="").head-menu__link Отраслевые решения
				li.head-menu__item
					a(href="").head-menu__link Контакты
		.head-phone
			a(href="tel:89008008888") 8-900-800-88-88
