<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		main#content
			.wrapper
				br
				br
				br
				br
				br
				br
				ul
					li
						a(href="#request").fancybox Оставьте свою заявку на консультацию


		include inc/footer.pug
		include inc/scripts.pug
	include inc/forms.pug